.login-options {
  display: flex;
  list-style: none;
  justify-content: center;

  li {
    margin: 10px;
    margin: 10px 25px 10px -15px;
    font-size: 2.3em;

  }

  a {
    color: $off-white;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: $blue-grey;
  }
}

.form-profile {
  margin-top: 40px;
  width: 600px;
  max-width: 90%;
}

#time-in-role .slider-selection {
	background: #e90e9f;
}
