body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  background-size: cover;
  font-family: 'Anonymous Pro', sans-serif;
}

main {
  margin-top: 20%;
  width: 90%;
  display: flex;
  justify-content: center;
  color: $off-white;
  flex-direction: column;
  text-align: center;

  h1, h2, h3, p {
    margin: 20px;
  }
}

.intro-buttons_contianer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;

  .btn-hero {
    margin: 20px auto;
    width: 180px;
    color: $off-white;
    text-align: center;
    font-size: 1.2em;
    padding: 20px 30px;
    background-color: $dark-grey;
    border: 1px solid $off-white;
    text-transform: uppercase;
    position: relative;
  }

  .clip-accent {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 30%;
    height: 50%;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  }

  .btn-be_mentor {
    background-color: $orange;
  }

  .btn-get_mentor {
    background-color: $yellow;
  }
}
