body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-grey;
  background-size: cover;
  font-family: 'Anonymous Pro', sans-serif;
}

main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  color: $off-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-buttons_contianer {
  display: flex;

  .btn-hero {
    margin: 10px;
    color: $off-white;
    font-size: 1.2em;
    padding: 20px 30px;
    background-color: $green;
    text-transform: uppercase;
    border-radius: 0;
    position: relative;
  }

  .clip-accent {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 30%;
    height: 50%;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  }

  .btn-be_mentor {
    background-color: $orange;
  }

  .btn-get_mentor {
    background-color: $yellow;
  }
}
