.form-profile {
  margin-top: 40px;
  width: 600px;
  max-width: 90%;
}

.slider-selection {
	background: #e90e9f;
}

.mm-btn-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin: 5px;
  }
}
