{{outlet}}

<h1>What is Mentor Match?</h1>

<p>
  Mentor Match is a platform that recommends relevant matches for mentors and mentees based on a limited questionaire, social profiles and machine learning. It is completely flexible to the preferences of the users in terms of interest, experience, location, time commitment and goals.
</p>
