<h1>Welcome to Mentor Match</h1>
<h3>Build meaningful relationships that benefit everyone.</h3>
<p>We use relevant data and machine learning to make good matches.</p>
<section class="intro-buttons_contianer">
  {{#link-to 'mentor-signup' class="btn btn-hero"}} Be a Mentor{{/link-to}}
  {{#link-to 'mentee-signup' class="btn btn-hero"}}Get a Mentor{{/link-to}}
</section>
