<h3>Let's get started.</h3>
<p>Choose a social login or enter your email address.</p>

<ul class="login-options">
  {{#each model as |loginOption|}}
    {{login-option option=loginOption}}
  {{/each}}
</ul>

<form class="form-inline">
  <div class="form-group">
    <input type="email" class="form-control" id="email-login-signup" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Go</button>
</form>

{{outlet}}
