<h2>Get a mentor</h2>

<p>...</p>

<h3>What can you expect?</h3>

<p>...</p>

<p>We will also try to guide you with some starter questions. Yes, it sounds cheesy. Nobody wants to read scripts, but consider them a starting point. They can help you get past the small talk and trigger interestinng conversation.</p>

{{#link-to 'safety' class="small-print"}}
  Read our disclaimer and safety suggestions.
{{/link-to}}

<h3>Okay, are you ready to get started?</h3>

{{#link-to 'mentee-signup.form' class="btn btn-default"}}
  I want to get a Mentor!
{{/link-to}}

{{outlet}}
